<section class="about">
  <div class="about-left">
  </div>
  <div class="about-right">
    <div class="container">
    <p class="about-pre-title">What you are looking for</p>
    <h2 class="about-title">We provide bespoke solutions</h2>
    <p class="about-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="about-btn btn" type="button">Read More</button>
  </div>
</div>
</section>
