<section class="cases">
  <div class="container cases-container">
    <p class="pre-title cases-pre-title">This is what we do</p>
    <h2 class="cases-title title">Business Cases</h2>
    <p class="text cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list">
        <li class="cases-item">
            <picture>
                <source
                  srcset="
                    ./images/cases/cases1.webp    1x,
                    ./images/cases/cases1@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/cases/cases1.jpg    1x,
                    ./images/cases/cases1@2x.jpg 2x
                  "
                />
                <img
                  src="./images/cases/cases1.jpg"
                  alt="gallery example"
                  class="cases-image"
                />
              </picture>
        </li>
        <li class="cases-item">
            <picture>
                <source
                  srcset="
                    ./images/cases/cases3.webp    1x,
                    ./images/cases/cases3@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/cases/cases3.jpg    1x,
                    ./images/cases/cases3@2x.jpg 2x
                  "
                />
                <img
                  src="./images/cases/cases3.jpg"
                  alt="gallery example"
                  class="cases-image"
                />
              </picture>
        </li>
        <li class="cases-item">
            <picture>
                <source
                  srcset="
                    ./images/cases/cases5.webp    1x,
                    ./images/cases/cases5@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/cases/cases5.jpg    1x,
                    ./images/cases/cases5@2x.jpg 2x
                  "
                />
                <img
                  src="./images/cases/cases5.jpg"
                  alt="gallery example"
                  class="cases-image"
                />
              </picture>
        </li>

        <li class="cases-item">
            <picture>
                <source
                  srcset="
                    ./images/cases/cases7.webp    1x,
                    ./images/cases/cases7@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/cases/cases7.jpg    1x,
                    ./images/cases/cases7@2x.jpg 2x
                  "
                />
                <img
                  src="./images/cases/cases7.jpg"
                  alt="gallery example"
                  class="cases-image"
                />
              </picture>
        </li>
        <li class="cases-item">
            <picture>
                <source
                  srcset="
                    ./images/cases/cases2.webp    1x,
                    ./images/cases/cases2@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/cases/cases2.jpg    1x,
                    ./images/cases/cases2@2x.jpg 2x
                  "
                />
                <img
                  src="./images/cases/cases2.jpg"
                  alt="gallery example"
                  class="cases-image"
                />
              </picture>
        </li>
        <li class="cases-item">
            <picture>
                <source
                  srcset="
                    ./images/cases/cases4.webp    1x,
                    ./images/cases/cases4@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/cases/cases4.jpg    1x,
                    ./images/cases/cases4@2x.jpg 2x
                  "
                />
                <img
                  src="./images/cases/cases4.jpg"
                  alt="gallery example"
                  class="cases-image"
                />
              </picture>
        </li>
    </ul>
  </div>
</section>
