.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 42, 53);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 80%;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 40%;
    height: 100px;
    padding: 15px;
  }

  @media screen and (min-width: 1360px) {
    width: 30%;
    height: 150px;
    padding: 20px;
  }
}

.modal-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: blue;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.modal h2 {
  margin-bottom: 8px;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1360px) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.modal p {
  margin-bottom: 8px;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1360px) {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
