.header {
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  @media screen and (max-width: 767px) {
    padding-top: 22px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 16px;
  }

  @media screen and (min-width: 1360px) {
    padding-top: 32px;
  }

  // background-color: darkslategray;
}

.main-nav {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-logo {
  display: flex;
  align-items: center;

  color: #28a745;

  @media screen and (max-width: 767px) {
    padding-left: 4px;
    font-size: 28px;
    line-height: 1.36;
  }

  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 1.37;
  }

  transform: scale(1);

  transition: transform 250ms linear;

  &:hover {
    transform: scale(1.1);
  }
}

.logo-right {
  color: var(--secondary-color);

  @media screen and (max-width: 767px) {
    margin-left: 8px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}

.header-icon {
  width: 39px;
  height: 35px;

  @media screen and (max-width: 767px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }

  @media screen and (min-width: 1360px) {
    margin-right: 4px;
  }
}

.nav-list {
  display: flex;

  color: var(--secondary-color);

  @media screen and (max-width: 767px) {
    margin-top: 16px;
    justify-content: center;
  }

}

.nav-item {
  padding-bottom: 5px;
  padding-top: 5px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1360px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  transition: border-bottom 250ms linear;

  &:hover, &:focus {
    border-bottom: 1px solid #28A745;
  }
}

.nav-link {
    color: var(--secondary-color);

    @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 1.38;
      }
    
      @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.39;
      }

      // &:hover, &:focus {
      //   text-decoration: underline;
      // }
}